<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <a href="/category/new">Add new category</a>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
    <% for (let i = 0; i < categories.length; i++) { %>
      <tr>
        <td><%= categories[i].id %></td>
        <td><%= categories[i].name %></td>
        <td><a href="/category/<%= categories[i].id %>">View Details</a></td>
      </tr>
    <% } %>
  </table>
</body>
</html>